<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>Club Members:</h2>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <ul class=" flex-column">
        <li class="nav-item">Alpha - Secretary</li>
        <li class="nav-item">Bravo - Assistant Secretary</li>
        <li class="nav-item">Charlie - Joint Secretary</li>
        <li class="nav-item">Delta - Sub Secretary</li>
        <li class="nav-item">Echo - Sub-Assistant Secretary</li>
      </ul>
      <h3 class="mt-4">Helper Clubs:</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class=" flex-column">
        <li class="nav-item">Tamil Litrature Club</li>
        <li class="nav-item">English Language Club</li>
        <li class="nav-item">Music Club</li>
        <li class="nav-item">Gulf Club</li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Events:</h2>
      <h5>Sep 18, 2022</h5>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

      <h2 class="mt-5">Club News:</h2>
      <h5>Sep 18, 2022 - Breaking News:</h5>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>
