<html>

<head>{% include "head.html" %}</head>

<body>
  {% include "header.html" %}
  <main class="container p-4">

    {% if 'username' not in session %}

    <h1>You need to sign in to view this page</h1>

    {% else %}

    {% set user = UM.get_user(session['username']) %}
    <h1>Profile:</h1>


    {% if mode=='view' %}


    <a href="/profile/edit"><button type="button">Edit</button></a>
    <table>
      <tr>
        <th>Username:</th>
        <td>{{ user.USERNAME }}</td>
      </tr>
      <tr>
        <th>Name:</th>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <th>Role:</th>
        <td>{{ user.role }}</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td>{{ user.phone }}</td>
      </tr>
    </table>
    <a href="/profile/changepassword"><button type="button">Change Password</button></a>
    {% if user.role != 'superadmin' %}
    <form action="/profile/removeuser" method="post" id="removeuser">
      <button onclick="removeacc()" type="button" id="removepasswordbtn">Remove Account</button>
      <input type="password" name="password" id="removepassword" placeholder="Password" style="display: none;">
    </form>
    {% endif %}
    <a href="/profile/signout"><button type="button">Sign-Out</button></a>


    {% elif mode=='edit' %}


    <form action="/profile/confirmedit" method="post">
      <button type="submit">Confirm</button>
      <a href="/profile/discardedit"><button type="button">Discard</button></a>
      <table>
        <tr>
          <th>Username:</th>
          <td>{{ user.USERNAME }}</td>
        </tr>
        <tr>
          <th>Name:</th>
          <td><input type="text" name="name" placeholder="old: {{ user.name }}"></td>
        </tr>
        <tr>
          <th>Role:</th>
          <td>{{ user.role }} </td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><input type="email" name="email" placeholder="old: {{ user.email }}"></td>
        </tr>
        <tr>
          <th>Phone:</th>
          <td><input type="tel" name="phone" placeholder="old: {{ user.phone }}"></td>
        </tr>
      </table>
      <span>Note: Leave the inputs empty to keep existing value</span>
    </form>


    {% elif mode=='changepassword' %}


    <form action="/profile/changepasswordconfirm" method="post" id="changepassword">
      <div>
        <label for="password">Old Password: </label>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <label for="newpassword">New Password</label>
        <input type="password" id="newpassword" name="newpassword">
      </div>
      <div>
        <label for="confirmnewpassword">Confirm New Password</label>
        <input type="password" id="confirmnewpassword" name="confirmnewpassword">
      </div>
      <button onclick="check()" type="button">Confirm</button>
    </form>


    {% endif %}


    <script>
      function removeacc() {
        if (document.getElementById('removepassword').style.display == 'none') {
          document.getElementById('removepassword').style.display = 'inline';
          document.getElementById('removepasswordbtn').innerText = 'Confirm Remove Account'
        }
        else if (confirm("Are you sure you wanna delete your account?\n(ACTION CANNOT BE REVERTED)") == true) {
          document.getElementById('removeuser').submit();
        }
      }
      function check() {
        if (document.getElementById('newpassword').value != document.getElementById('confirmnewpassword').value)
          alert("Both new Passwords do not Match");
        else
          document.getElementById('changepassword').submit();
      }
    </script>

    {% endif %}

  </main>
  {% include "scripts.html" %}
</body>

</html>