<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>Club Members:</h2>
      <p></p>
      <ul class=" flex-column">
        <li class="nav-item">Arunachalam - Secretary</li>
        <li class="nav-item">Ganappriyan - Additional Secretary</li>
        <li class="nav-item">DhivyaBharathi - Additional Secretary</li>
        <li class="nav-item">Harisha - Joint Secretary</li>
        <li class="nav-item">Anbu - Joint Secretary</li>
      </ul>
      <h3 class="mt-4">Helper Clubs:</h3>
      <p></p>
      <ul class=" flex-column">
        <li class="nav-item">Kanitamil Peravai</li>
        <li class="nav-item">English Language Club</li>
        <li class="nav-item">Music Club</li>
        <li class="nav-item">Gulf Club</li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Events:</h2>
      <h5>Sep 18, 2022</h5>
      <p>நெஞ்சை அள்ளும் தஞ்சை</p>
      <h5>Sep 23, 2022</h5>
      <p>பொன்னியின் செல்வன்</p>

      <h2 class="mt-5">Club News:</h2>
      <h5>Sep 18, 2022 - Breaking News:</h5>
      <p> Tamil Language Club has created a tamil programming language.</p>
    </div>
  </div>
</div>
