{% if 'msg' in session %}
<script>
  window.alert("{{ session.pop('msg') }}");
</script>
{% endif %}

<script>
  /* Tool Tips */
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
  /* PopOver */
  const list = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  list.map((el) => {
    let opts = {
      animation: false,
    }
    if (el.hasAttribute('data-bs-content-id')) {
      opts.content = document.getElementById(el.getAttribute('data-bs-content-id')).innerHTML;
      opts.html = true;
    }
    new bootstrap.Popover(el, opts);
  })
</script>