<html>
{% include "head.html" %}

<body>
  {% include "header.html" %}
  <main class="container p-4">
      
    {% if UM.user %}
    <h1>User Management</h1>
    <a href="/usermanagement/add"></a>
    <table>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
      {% for user in UM.get_users() %}
      <tr>
        <td>{{ user.USERNAME }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <a href="/usermanagement/{{ user.id }}/edit">Edit</a>
          <a href="/usermanagement/{{ user.id }}/remove">Remove</a>
        </td>
      </tr>
      {% endfor %}
      </tr>
    </table>
    {% else %}
    <h1>You must be signed in to view the page</h1>
    {% endif %}
  </main>

  </main>
  {% include "scripts.html" %}
</body>

</html>