{% if 'message' in session %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Smart Stock</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">{{ session.pop('message') }}</div>
  </div>
</div>
{% endif %}

<script>
  /* Tool Tips */
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
  /* PopOver */
  const list = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  list.map((el) => {
    let opts = {
      animation: false,
    }
    if (el.hasAttribute('data-bs-content-id')) {
      opts.content = document.getElementById(el.getAttribute('data-bs-content-id')).innerHTML;
      opts.html = true;
    }
    new bootstrap.Popover(el, opts);
  })
</script>