<html>

<head>{% include "head.html" %}</head>

<body>
  {% include "header.html" %}
  <main class="container p-5">
    {% if 'username' not in session %}
    <div class="container d-flex flex-column justify-content-center">
      <h1 class="text-center">You need to sign in to view this page</h1>
      <div class="text-center">
        <a class="btn btn-primary" href="/signin">Signin</a>
      </div>
    </div>
    {% else %}

    <div class="row">
      <div class="col">
        <div class="row">
          <h3>Top Selling</h3>
          <div class="col">
            <table>
              <thead>
                <th>Item</th>
                <th>Quantity</th>
                <th>Revenue</th>
              </thead>
              {% for i in DB.get_top_sold(5) %}
              <tr>
                <td>{{i['item']}}</td>
                <td>{{i['quantity']}}</td>
                <td>{{i['revenue']}}</td>
              </tr>
              {% endfor %}
            </table>    
              
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between">
                <span class="fw-bold ms-2 me-auto">Item 1</span>
                <span class="badge bg-primary rounded-pill">0</span>
              </li>
            </ol>
          </div>
        </div>

        <div class="row mt-5">
          <h3>Low On Stock</h3>
          <div class="col">
            <ol class="list-group list-group-numbered">
            {% set minlist = SM.getminlist() %}
            {% if minlist %}
            {% for i in minlist %}
              <li class="list-group-item d-flex justify-content-between">
                <span class="fw-bold ms-2 me-auto">{{i.name}} ({{i.id}})</span>
                <span class="badge bg-primary rounded-pill">{{i.quantity}}</span>
              </li>
            {% endfor %}
            {% else %}
            </ol>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between">
                <span class="fw-bold ms-2 me-auto">All Items are in enough Quantity</span>
                <span class="badge bg-primary rounded-pill">0</span>
              </li>
            </ol>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col">
        <h3>Today's Sales</h3>
        <div class="col">
          <table class="table table-striped">
            <thead>
              <th>Facility</th>
              <th>Item Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Time</th>
            </thead>
            {% for i in DB.get_today_logs() %}
            <tr>
              <td>{{ i.facility }}</td>
              <td>{{ SM.get_item(i.item).name }}</td>
              <td>{{ i.price }}</td>
              <td>{{ i.quantity }}</td>
              <td>{{ i.time }}</td>
            </tr>    
            {% endfor %}
          </table>
        </div>
      </div>

    </div>

    {% endif %}
  </main>
  {% include "scripts.html" %}
</body>

</html>