<div class="container mt-5 text-center">
  <div class="row">
    <div class="col border border-2 p-2 h4">Founder:</div>
    <div class="col border border-2 p-2 h5">Mr. Nesamani</div>
  </div>
  <div class="row">
    <div class="col border border-2 p-2 h4">Co-Founder:</div>
    <div class="col border border-2 p-2 h5">Mr. Krishna Moorthi</div>
  </div>
  <div class="row">
    <div class="col border border-2 p-2 h4">Founded on:</div>
    <div class="col border border-2 p-2 h5">2022</div>
  </div>
  <div class="row">
    <div class="col border border-2 p-2 h4">Vision:</div>
    <div class="col border border-2 p-2 h5 blockquote">"Victorious warriors win first and then go to war, while defeated warriors
      go to war first and then seek to win.”
      <span class="blockquote-footer">Sun Tzu, Art of War</span></div>
  </div>
  <div class="row">
    <div class="col border border-2 p-2 h4">Mission:</div>
    <div class="col border border-2 p-2 h5 blockquote">All men can see these tactics whereby I conquer, but what none
      can see is the strategy out of which victory is evolved.
      <span class="blockquote-footer">Sun Tzu, Art of War</span>
    </div>
  </div>
</div>